<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background" style="margin: 0; width: 100%; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.about").html_safe %></p>
        <%= form_for room_path(@room), method: :post do |f| %>
        <div class="input-group">
          <%= f.text_field :join_name,
              required: true,
              class: "form-control join-form",
              placeholder: t("enter_your_name"),
              autofocus: false,
              maxlength: 99
              %>
          <span class="input-group-append">
            <button id="room-join" type="submit" class="btn btn-primary btn-sm px-7 form-control join-form">
              <%= t("room.join") %>
            </button>
          </span>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
